{% extends 'base.html.twig' %}
{% block stylesheets %}
{{ parent() }}
<link rel="stylesheet" href="{{ asset('css/light.css') }}">
<style type="text/css">
    .t-block
    {
        width: 100%;
        height: auto;
        background-color: white!important;
        /* border: 2px solid black ;  */
        overflow: hidden;
    }
    .t-title
    {
        width: 100%;
        border-bottom: 1px solid lightgray;
        border-top : 3px solid gray ;
        padding-left: 20px;
    }
    .t-title h2
    {
        font-size: 1.5em !important;
        margin: 10px 0 10px 10px !important;
    }
    .t-content{
        padding: 30px ;
    }
    .mt-3
    {
        margin-top: 25px;
    }
    .mb-3
    {
        margin-bottom: 25px;
    }
    .mt-2
    {
        margin-top: 9px !important;
    }
    .float-right
    {
        float: right ;
    }
    .pers-ass-form
    {
        font-size: 1em !important;
    }
    .lcslt-multiple,#lc-select-dd li span
    {
        font-size: 1.2em !important;
    }
    
    
</style>
{% endblock  %}
{% block scripts %}
{{ parent() }}
<script src="{{ asset('js/lc_select.js') }}"></script>
<script src=" {{ asset('bundles/tache/js/add.js') }} "></script>
<script>
    new lc_select('#t-pers-assigne', {
        wrap_width : '100%',
    });
    new lc_select('#t-type-tache', {
        wrap_width : '100%',
    });
</script>
{% endblock %}
{% block contenu %}
    <div class="t-block">
        <div class="t-title">
            <h2>AFFECTATION TACHE</h2>
        </div>
        <div class="t-content">
            <form action="#">
                <div class="row">
                    <div class="col-md-6">
                        <label for="t-nom ">Tache</label>
                        <input type="text" class="form-control mt-2 t-nom" id="t-nom"> 
                    </div>
                    <div class="col-md-6">
                        <button type="button" class="btn btn-sm float-right btn-success"><i class="fa fa-plus"></i></button>
                        <label for="t-nom">Personne assigné</label>
                        <!-- <input type="text" id="t-pers-assigne" class="form-control"> -->
                        <select name="t-pers-assigne" class=" pers-ass-form" id="t-pers-assigne" multiple>
                            <option value="Ibrahim">Ibrahim</option>
                            <option value="Sitraka">Sitraka</option>
                            <option value="Joary">Joary</option>
                            <option value="Mandrindra">Mandrindra</option>
                        </select> 
                        <!-- <input type="text" class="form-control t-pers-assigne" id="t-pers-assigne">  -->
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-md-3">
                        <label for="t-date-debut">Date début</label>
                        <input type="date" class="form-control t-date-debut" id="t-date-debut"> 
                    </div>
                    <div class="col-md-3">
                        <label for="t-date-debut">Date fin</label>
                        <input type="date" class="form-control t-date-fin" id="t-date-fin"> 
                    </div>
                    <div class="col-md-3">
                        <label for="t-date-debut">Durée</label>
                        <input type="number" class="form-control t-date-fin" id="t-date-fin"> 
                    </div>
                    <div class="col-md-3">
                        <label for="t-type-duree">Type durée</label>
                        <select name="t-type-duree" id="t-type-duree" class="form-control t-type-duree">
                            <option value="">minute</option>
                            <option value="">heure</option>
                        </select>
                        <!-- <input type="date" class="form-control t-date-fin" id="t-date-fin">  -->
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-md-6">
                        <button type="button" class="btn btn-sm float-right btn-success"><i class="fa fa-plus"></i></button>
                        <label for="t-type-tache">Type de tâche</label>
                        <select name="t-type-tache" id="t-type-tache" class="form-control t-type-tache" multiple>
                            <option value="Dev">Dev</option>
                            <option value="Reseau">Réseau</option>
                            <option value="Autre">...</option>
                        </select>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-md-12">
                        <label for="t-description">Description</label>
                        <textarea name="t-description" class="form-control t-description" id="" cols="30" rows="6"></textarea>
                    </div>
                </div>
                <button class="btn btn-primary pull-right mt-3 mb-3" id="btn-save">
                    <i class="fa fa-save"></i>
                    Enregistrer
                    </button>
            </form>
        </div>
    </div>
{% endblock %}